<div class="hotel-body">
	
	<div class="container-fluid text-center blue-bar">
		<h2 style="color: white;">
			<strong>
				Panel Administrativo
			</strong> 
		</h2>
	</div>

	<div class="container-fluid" style="margin-top: 10px;">
	  <div class="container-fluid container-pad" id="property-listings">     
		  
		  <div class="row">
		    <div class="col-md-12">
		    </div>
		  </div>


	    <div class="row">
	    	<!-- vista previa de Hoteles -->
        <div class="col-xs-8 col-lg-6 col-lg-offset-1">
        	<h2 class="text-center">Vista previa</h2>
        	<div class="container-fluid" ng-repeat = "data in hotels" style="margin-bottom: 10px;"> <!-- | orderBy:'-created_at' -->
	        	<button class="col-xs-1 text-center btn btn-danger btn-delete" ng-click="deleteHotel(data._id)" id="popover" data-trigger="hover" ng-mouseover="data.var = true" ng-mouseleave="data.var = false" >
	        		<strong>X</strong>
	        		<div ng-show="data.var" class="popov">
	        			<p class="triangle-border left">Eliminar Hotel.</p>
	        		</div>
	        	</button> <!-- Only in administrator view -->
	            

	            <div class="property-listing col-xs-11">
		            <div class="col-xs-4 img-box-prop">
		              <a ng-init = "a = 0" class="pull-left">
		              	<div ng-if="data.recommended" class="text-center box-recommended" style="">
		              		<strong>¡Hotel Recomendado!</strong>
		              	</div>

		              	<div ng-if="data.discount" class="gift">
		              		<span>
		              			{{data.discount}}% OFF
		              		</span>
		              	</div> <!-- Discount -->

		              	<span ng-show = "data.imgUrl[1]">
			              	<button class="btn btn-white btn-rounded btn-sm carousel-ctrl" ng-click="a = moveImg('down', a, $index)">
			              	 	<strong class="glyphicon glyphicon-chevron-left"> </strong>
			              	</button> <!-- menos -->
			              	<button class="btn btn-white btn-rounded btn-sm carousel-ctrl carousel-right" ng-click="a = moveImg('up', a, $index)">
			              	 	<strong class="glyphicon glyphicon-chevron-right"></strong>
			              	</button> <!-- mas -->
		              	</span>

		              	<img alt="image" class="img-responsive img-in-box-prop" data-ng-src="{{data.imgUrl[a]}}">
		              </a>
		            </div>

		            <div class="col-xs-5 text-box-prop" style="">
		              <div class="clearfix visible-sm"></div>
		              <div class="media-body">
		                <h4>
		                	<strong ng-if="data.name">{{data.name}}</strong> 
		                	<strong ng-if="!data.name" class="without-title"><i>Sin título</i></strong> 
		                	<div class="repeat star-ranking" n="{{data.stars}}"></div>
		                </h4>

		                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
		                  <li ng-if="data.city">{{data.city}}</li>
		                  <li ng-if="!data.city">Sin ciudad</li>

		                  <li>|</li>

		                  <li>
		                  	<span ng-if="data.discount">{{data.discount}}</span>
		                  	<span ng-if="!data.discount">0</span>
		                  	% descuento
		                  </li>
		                </ul>
		                <p ng-if="data.status">Status: {{data.status}}</p>
		                <p ng-if="!data.status">Status: Sin status</p>
		                <p class="hidden-xs">{{data.features}}</p>
		              </div>
		            </div>

		            <div class="col-xs-3 price-box-prop text-center">
		            	<h6><strong> Precio por noche por habitación </strong></h6>
		            	<h4><strong><span>ARS</span> {{data.price? data.price: 0}}</strong></h4>
		            	<p><h6><strong> Impuestos y tasas no incluídos.</strong></h6></p>
		            	<button class="btn btn-sm btn-info">Ver hotel</button>
		            	<h6><strong ng-if="data.payDues">Pagá en coutas</strong><strong ng-if="data.payDestiny">/ Pagá en destino</strong></h6>
		            </div>

		          </div>

        	</div>
        </div>
        <!-- Final de vista previa de hoteles -->

        <!-- Panel para crear nuevo Hotel -->
				<form class="col-xs-4 col-lg-4 panel-new-hotel">  
				  <div class="form-group text-center">
				  	<h3> Agregar un nuevo hotel </h3>
				  	<br>

				    <input type="text" class="form-control input-lg text-center" placeholder="Name/Nombre" ng-model="formData.name">
				    <input type="text" class="form-control input-lg text-center" placeholder="Status/Estatus" ng-model="formData.status">
	          <div class = "input-group input-group-lg">
		         	<input type = "number" class = "form-control input-lg text-center" placeholder = "Price/Precio" ng-model="formData.price">
		         	<span class = "input-group-addon">$</span>
		      	</div>
				    <input type="text" class="form-control input-lg text-center" placeholder="City/Ciudad" ng-model="formData.city">
	          <div class = "input-group input-group-lg">
		         	<input type = "number" class = "form-control input-lg text-center" placeholder = "Discount/Descuento" ng-model="formData.discount">
		         	<span class = "input-group-addon">%</span>
		      	</div>

				    <input type="text" class="form-control input-lg text-center" placeholder="Features/Caracteristicas" ng-model="formData.features">
				    
				    <br>
				    <div class="text-center">
					    <div ng-if="formData.imgUrl[0]">
					    	<p> Clickée sobre la imagen para eliminarla.</p>
					    	<a ng-repeat = "image in formData.imgUrl" href="" ng-click="removeImg($index)">
					    		<img data-ng-src="{{image}}" style="width: 100px; height: 100px;">
					    	</a>
					    </div>

						  <div ng-hide = "formData.imgUrl[4]" class="button btn btn-info" ngf-select ng-model="img" name="file" ngf-pattern="'image/*'"
						    ngf-accept="'image/*'" ngf-max-size="1mb" ngf-min-width="300"
						    ngf-resize="{width: 300, height: 300}" ng-change = "submitImg(img)" style="width: 100px; height: 100px;">
						  	<h1>+</h1>
						  </div>
						  <br>
						  (Max. 5 imagenes, 1mb max. c/u.)
				    </div>

						<span class="rating col-xs-8" style="margin-top: 20px;">
			        <input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1"/>
			        <label for="rating-input-1-5" class="rating-star" ng-click="formData.stars = 5;"></label>
			        
			        <input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1"/>
			        <label for="rating-input-1-4" class="rating-star" ng-click="formData.stars = 4;"></label>
			        
			        <input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1"/>
			        <label for="rating-input-1-3" class="rating-star" ng-click="formData.stars = 3;"></label>
			        
			        <input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1"/>
			        <label for="rating-input-1-2" class="rating-star" ng-click="formData.stars = 2;"></label>
			        
			        <input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1"/>
			        <label for="rating-input-1-1" class="rating-star" ng-click="formData.stars = 1;"></label>
						</span>

						<div class="row switches-box">
							<div class="col-xs-4">
						    <div class="onoffswitch">
							    <input type="checkbox" ng-model = "formData.recommended" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
							    <label class="onoffswitch-label" for="myonoffswitch">
							      <span class="onoffswitch-inner"></span>
							      <span class="onoffswitch-switch"></span>
							    </label>
								</div>
						    <span class="pull-left"> Recomendado? </span> 
						    <br>
							</div>
							<div class="col-xs-4">
						    <div class="onoffswitch">
							    <input type="checkbox" ng-model = "formData.payDues" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
							    <label class="onoffswitch-label" for="myonoffswitch2">
							      <span class="onoffswitch-inner"></span>
							      <span class="onoffswitch-switch"></span>
							    </label>
								</div>
						    <span class="pull-left"> Pago en cuotas? </span> 
						    <br>
							</div>
							<div class="col-xs-4">
						    <div class="onoffswitch">
							    <input type="checkbox" ng-model = "formData.payDestiny" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
							    <label class="onoffswitch-label" for="myonoffswitch3">
							      <span class="onoffswitch-inner"></span>
							      <span class="onoffswitch-switch"></span>
							    </label>
								</div>
						    <span class="pull-left"> Pago en destino? </span> 
						    <br>
							</div>
						</div>

				  </div>
				  <button class="btn btn-info btn-md col-xs-12" ng-click="createHotel()">
				    Añadir
				  </button>
				</form>
				<!-- Final del panel de crear nuevo hotel -->
	    </div><!-- End row -->
	    
	  </div><!-- End container -->
	</div>


</div>