<div class="hotel-body">
	<div class="container-fluid blue-bar"></div>
	<div>
	  <div class="container-fluid container-pad" id="property-listings">     
		  <div class="row">
		    <div class="col-xs-12">
		    </div>
		  </div>
	    <div class="row hotel-view">
        <div class="col-xs-12">
        	<div style="margin-bottom: 10px;">
	      		<div class="dropdown pull-right order-button">
					    Ordenar
					    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{nameOrder}}
					    <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li ng-if="nameOrder!='Más relevante'"><a href="" ng-click="getHotels();">Más relevante</a></li>
					      <li ng-if="nameOrder!='Precio más bajo'"><a href="" ng-click="orderHotels('-price', 'Precio más bajo')">Precio más bajo</a></li>
					      <li ng-if="nameOrder!='Precio más alto'"><a href="" ng-click="orderHotels('price', 'Precio más alto')">Precio más alto</a></li>
					      <li ng-if="nameOrder!='Menos estrellas'"><a href="" ng-click="orderHotels('-stars', 'Menos estrellas')">Menos estrellas</a></li>
					      <li ng-if="nameOrder!='Más estrellas'"><a href="" ng-click="orderHotels('stars', 'Más estrellas')">Más estrellas</a></li>
					    </ul>
					  </div>

        		<div class="col-xs-12 aside-box-responsive" style="margin-bottom: 40px;"> <!-- FILTER BOX RESPONSIVE -->
        			<a href="" ng-click="openBox.map =! openBox.map">      				
	        			<div>
	      					<strong> Ver hoteles en mapa </strong>
	  							<span ng-if="!openBox.map" class="glyphicon glyphicon-triangle-top pull-right"></span>
	  							<span ng-if="openBox.map" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
	        			</div>
        			</a>
        			<div class="hotels-map" ng-if="!openBox.map">  				
	        			<div class="g-map-box g-map-box-responsive">
	        			</div>
	        			<div style="height: 40px; background-color: white;"></div>
        			</div>
        			<a href="" ng-click="openBox.filter =! openBox.filter">      				
	        			<div>
	      					<strong> Filtrar </strong>
	  							<span ng-if="!openBox.filter" class="glyphicon glyphicon-triangle-top pull-right"></span>
	  							<span ng-if="openBox.filter" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
	        			</div>
        			</a>
        			<div class="filter-box" ng-if="!openBox.filter">
        				<div class="filters">
	        				
	        				<a href="" ng-click="openBox.text=! openBox.text">
	        					<div>
	        						<p>
		        						<span class="glyphicon glyphicon-search"></span> Nombre de hotel
	        							<span ng-if="!openBox.text" class="glyphicon glyphicon-triangle-top pull-right"></span>
	        							<span ng-if="openBox.text" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
		       						</p>
		       					</div>
	        				</a>
        					<div ng-if="!openBox.text" class="filter-text">
        						<div class="col-xs-8 no-padding">
        							<input class="form-control input input-sm input-info" type="text" ng-model="searchText" placeholder="Ingrese el nombre del hotel">
        						</div>
        						<div class="col-xs-4">
        							<button class="btn btn-sm btn-info" ng-click="searchHotel(searchText)">Aceptar</button>
        						</div>
        					</div>

        				</div>
        				<div class="filters">
        					<a href="" ng-click="openBox.night=! openBox.night">
	        					<div>
	        						<p><strong>$</strong> Precio por noche
	        							<span ng-if="!openBox.night" class="glyphicon glyphicon-triangle-top pull-right"></span>
	        							<span ng-if="openBox.night" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
	        						</p>
	        					</div>
        					</a>
        					<div id="boxCheckbox" ng-if="!openBox.night" style="height: 110px"></div>
        				</div>

        				<div class="filters">
        					<a href="" ng-click="openBox.star=! openBox.star">
        						<div>
        							<p>
        								<span class="glyphicon glyphicon-star"></span> Estrellas
	        							<span ng-if="!openBox.star" class="glyphicon glyphicon-triangle-top pull-right"></span>
	        							<span ng-if="openBox.star" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
        							</p>
        						</div>
        					</a>
        					<div ng-if="!openBox.star" style="height: 150px;">
        						<div class="star-ranking">
        							<input type="checkbox" disabled checked="true" value="" ng-click="getHotels()">
        							<strong style="color: black;"> Todas las estrellas ({{countStars.total}})</strong>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(5)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.five}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(4)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.four}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(3)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.three}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(2)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.two}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(1)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.one}})</span>
        						</div>
        					</div>
        				</div>

        			</div>
        		</div>

        		<div class="col-md-3 aside-box" style="margin-bottom: 40px;"> <!-- Filter aside without responsive -->
        			<div class="hotels-map">      				
	        			<div class="g-map-box g-map-box-normal">
	        			</div>
	        			<div class="white-box-hotel text-center">
	        				<p>Ver Hoteles en el mapa.</p>
	        			</div>
        			</div>
        			

        			<p><strong><h5> Filtrar </h5></strong></p>
        			<div class="filter-box">
        				<div class="filters">
	        				
	        				<a href="" ng-click="openBox.text=! openBox.text">
	        					<div>
	        						<p>
		        						<span class="glyphicon glyphicon-search"></span> Nombre de hotel
	        							<span ng-if="openBox.text" class="glyphicon glyphicon-triangle-top pull-right"></span>
	        							<span ng-if="!openBox.text" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
		       						</p>
		       					</div>
	        				</a>

        					<div ng-if="openBox.text" style="height: 60px;">
        						<div class="col-md-8 no-padding">
        							<input class="form-control input input-sm input-info" type="text" ng-model="searchText" placeholder="Ingrese el nombre del hotel">
        						</div>
        						<div class="col-md-4">
        							<button class="btn btn-sm btn-info" ng-click="searchHotel(searchText)">Aceptar</button>
        						</div>
        					</div>

        				</div>
        				<div class="filters">
        					<a href="" ng-click="openBox.night=! openBox.night">
	        					<div>
	        						<p><strong>$</strong> Precio por noche
	        							<span ng-if="openBox.night" class="glyphicon glyphicon-triangle-top pull-right"></span>
	        							<span ng-if="!openBox.night" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
	        						</p>
	        					</div>
        					</a>
        					<div id="boxCheckbox" ng-if="openBox.night">
        					</div>
        				</div>

        				<div class="filters">
        					<a href="" ng-click="openBox.star=! openBox.star">
        						<div>
        							<p>
        								<span class="glyphicon glyphicon-star"></span> Estrellas
	        							<span ng-if="openBox.star" class="glyphicon glyphicon-triangle-top pull-right"></span>
	        							<span ng-if="!openBox.star" class="glyphicon glyphicon-triangle-bottom pull-right"></span>
        							</p>
        						</div>
        					</a>
        					<div ng-if="openBox.star" style="height: 150px;">
        						<div class="star-ranking">
        							<input type="checkbox" disabled checked="true" value="" ng-click="getHotels()">
        							<strong class="font-black"> Todas las estrellas ({{countStars.total}})</strong>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(5)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.five}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(4)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.four}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(3)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.three}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(2)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.two}})</span>
        						</div>
        						<div class="star-ranking">
        							<input type="checkbox" value="" ng-click="searchStar(1)">
	        						<span class="glyphicon glyphicon-star"></span>
	        						<span class="font-grey"> ({{countStars.one}})</span>
        						</div>
        					</div>
        				</div>

        			</div>
        		</div>

		        <div class="col-xs-12 col-md-9"> <!-- 1092px  o 992px-->

	            <div class="property-listing" ng-repeat = "data in hotels">
		            <div class="col-xs-4 img-box-prop">
		              <a ng-init = "a = 0" class="pull-left">
		              	<div ng-if="data.recommended" class="text-center box-recommended" style="">
		              		<strong>¡Hotel Recomendado!</strong>
		              	</div>

		              	<div ng-if="data.discount" class="gift">
		              		<span>
		              			{{data.discount}}% OFF
		              		</span>
		              	</div> <!-- Discount -->

		              	<span ng-show = "data.imgUrl[1]">
			              	<button class="btn btn-white btn-rounded btn-sm carousel-ctrl" ng-click="a = moveImg('down', a, $index)">
			              	 	<strong class="glyphicon glyphicon-chevron-left"></strong>
			              	</button> <!-- menos -->
			              	<button class="btn btn-white btn-rounded btn-sm carousel-ctrl carousel-right" ng-click="a = moveImg('up', a, $index)">
			              	 	<strong class="glyphicon glyphicon-chevron-right"></strong>
			              	</button> <!-- mas -->
		              	</span>

		              	<img alt="image" class="img-responsive img-in-box-prop" data-ng-src="{{data.imgUrl[a]}}">
		              </a>
		            </div>

		            <div class="col-xs-5 text-box-prop" style="">
		              <div class="clearfix visible-sm"></div>
		              <div class="media-body">
		                <h4>
		                	<strong ng-if="data.name">{{data.name}}</strong> 
		                	<strong ng-if="!data.name" class="without-title"><i>Sin título</i></strong> 
		                	<div class="repeat star-ranking" n="{{data.stars}}"></div>
		                </h4>

		                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
		                  <li ng-if="data.city">{{data.city}}</li>
		                  <li ng-if="!data.city">Sin ciudad</li>

		                  <li>|</li>

		                  <li>
		                  	<span ng-if="data.discount">{{data.discount}}</span>
		                  	<span ng-if="!data.discount">0</span>
		                  	% descuento
		                  </li>
		                </ul>
		                <p ng-if="data.status">Status: {{data.status}}</p>
		                <p ng-if="!data.status">Status: Sin status</p>
		                <p class="hidden-xs">{{data.features}}</p>
		              </div>
		            </div>

		            <div class="col-xs-3 price-box-prop text-center">
		            	<h6><strong> Precio por noche por habitación </strong></h6>
		            	<h3><strong><span>ARS</span> {{data.price? data.price: 0}}</strong></h3>
		            	<p><h6><strong> Impuestos y tasas no incluídos.</strong></h6></p>
		            	<button class="btn btn-large btn-info">Ver hotel</button>
		            	<h6><strong ng-if="data.payDues">Pagá en coutas</strong></h6>
		            	<h6><strong ng-if="data.payDestiny">Pagá en destino</strong></h6>
		            </div>

		          </div>
		        
		        </div><!-- End Listing-->
        	</div>
        </div>

	      </div><!-- End row -->
	  </div><!-- End container -->
	</div>
</div>

