/* app css stylesheet */

@font-face
{
   font-family: 'Futura';
   src: url('futura_light.ttf') format('truetype');
}

body {
  font-family: "Futura", Arial, "san-serif" !important;
}

.blue-bar {
  margin-top: 90px; 
  background-color: #045FB4; 
  padding-left: 100px !important; 
  padding-right: 0px !important; 
  min-height: 40px;
}

.hotel-view {
  margin-top: 30px; 
  padding-left: 11vw; 
  padding-right: 11vw;
}

.font-grey {
  color: grey;
}

.font-black {
  color: black;
}

.without-title {
  color: rgba(10,10,10,0.4);
}

.order-button {
  margin-right: 10px; 
  margin-bottom: 10px;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

nav {
  padding-right: 120px !important;
  padding-left: 120px !important;
  background-color: white !important;
  border-style: none !important;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 150px;
  height: 80px;
  padding-top: 35px !important;
  color: #045FB4 !important;
  font-size: 12px;
}
.navbar-nav li a:hover{
  border-bottom: solid #045FB4 3px;
}
.price-box-prop {
  border-left: 1px dashed #CCC;
}

.price-box-prop h3 {
  color: #FF8000;
  height:100%;
}


.price-box-prop h4 {
  color: #FF8000;
  height:100%;
}

.price-box-prop h3 strong span {
  font-size: 15px;
}

.price-box-prop button {
  width: 100%;
}

.hotel-body {
  background-color:#e8e8e8; 
  min-height: 100vh;
}

/* buttons */

.btn-rounded {
  border-radius: 50% !important;
}

.btn-white {
  background-color: white !important;
  color: black !important;
}

.btn-white:hover{
  color: blue !important;
}

.btn-delete {
  height: 60px; 
  margin-top: 70px; 
  color: white;
  position: relative;
}

/* carousel control */

.carousel-ctrl {
  z-index: 10; 
  position: absolute; 
  top: 50%;
}

.carousel-right {
  right: 0;
}

/* property-listing */

.property-listing {
  background-color: white;
  height: 200px;
  padding-left: 0px !important;
  padding-top: 10px;
  margin-bottom: 10px !important
}

.property-listing div a {
  height: 100%; 
  width: 100%; 
  position: relative;
}

.img-box-prop {
  height: 100%; 
  padding-bottom: 10px;
}

.img-box-prop a {
  height: 100%; 
  width: 100%; 
  position: relative;
}

.img-in-box-prop {
  height: 100% !important; 
  width: 100% !important;
}

.box-recommended{
  width: 100%; 
  height: 17%; 
  background-color: #2671DD; 
  color: white; position: 
  absolute; top: 0; 
  padding-top: 5px;
}

.box-recommended strong {
  z-index: 10;
}

.gift {
  box-sizing: border-box;
  padding-top: 4px;
  width: 40px;
  height: 48px;
  color: #fff;
  text-align: center;
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  z-index: 10;
  top: -8px;
  left: 10px;
  background-color: #509E3C;
  border-radius: 2px 0px 2px 2px;
  font-weight: bold;
}

/* Rating */

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('/assets/star.png') 0 -16px;
}

.repeat {
    display:block;
}

.repeat[n="1"]:before {
   content: "★";
}

.repeat[n="2"]:before {
   content: "★★";
}

.repeat[n="3"]:before {
   content: "★★★";
}

.repeat[n="4"]:before {
   content: "★★★★";
}

.repeat[n="5"]:before {
   content: "★★★★★";
}

.star-ranking {
  color: #FDBA12;
}

/* switch */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


.switches-box {
  margin-top: 60px; 
  padding-left: 10px;
}

/* Popover */

.popov {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0;
    left: 80%;
    display: block;
    padding: 0 20px;
    z-index: 30
}
.popov span {
    display: block;
    font-weight: 700;
}
.triangle-border {
    z-index: 30;
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid black;
    color: white;
    background: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.triangle-border.left:before {
    top: 10px;
    bottom: auto;
    left: -30px;
    border-width: 15px 30px 15px 0;
    border-color: transparent black;
}
.triangle-border:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: black transparent;
    display: block;
    width: 0;
}

/* Aside Box */

.aside-box {
  padding: 0 0 0 0 !important;
}

.aside-box-responsive {
  padding: 0 0 0 0 !important;
}

.aside-box-responsive a {
  text-decoration: none !important;
}

.aside-box-responsive a div {
  height: 50px; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 10px;
  border-bottom: solid 1px rgba(10, 10, 10, 0.1)
}

.hotels-map {
  height: auto; 
  width: 100%;
}

.white-box-hotel {
  height: 40px; 
  background-color: white; 
  padding-top: 10px;
}

.white-box-hotel p {
  color: blue;
}

.g-map-box-normal {
  height: 160px;
}

.g-map-box-responsive {
  height: 300px;
}

.g-map-box{ 
  background-image: url('assets/googlemap.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.filter-box {
  background-color: white;
  height: auto;
}

.filters {
  height: auto; 
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 15px; 
  border-bottom: solid 5px #e8e8e8;
}

.filters a{
  text-decoration: none !important;
}

.filters a div {
  height: 40px;
}

.filters a div p:hover{
  color: blue;
}

.filter-text {
  height: 60px;
}

#boxCheckbox{
  height: 110px
}


/* panel new hotel */

.panel-new-hotel {
  background-color: white; 
  padding-top: 20px; 
  padding-bottom: 40px; 
  border-radius: 10px 10px 10px 10px;
}

/* Media Queries */

@media only screen and (min-width: 992px) { /* cuando sea mayor a 991px */
  .aside-box-responsive {
    display: none;
  }
}

@media only screen and (max-width: 991px) { /* cuando sea menor a 991px */
  .aside-box {
    display: none;
  }
  .aside-box-responsive {
    display: show;
  }
}


@media only screen and (max-width: 1495px) { /* cuando sea menor a 1280px */
  .hotel-view {
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }
}